body {
  margin: 0;
  border-color: #999999;
  background: #dedede url(../images/textures/scratches.jpg);
  background: url(../images/textures/scratches.jpg), -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#aaaaaa), color-stop(0.25, #f2f2f2), color-stop(0.38, #ffffff), color-stop(0.63, #c5c5c5), color-stop(0.87, #f7f7f7));
  background: url(../images/textures/scratches.jpg), -webkit-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
  background: url(../images/textures/scratches.jpg), -moz-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
  background: url(../images/textures/scratches.jpg), -ms-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
  background: url(../images/textures/scratches.jpg), -o-linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
  background: url(../images/textures/scratches.jpg), linear-gradient(top, #aaaaaa, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #aaaaaa);
}

h1 {
  color: #293133;
  font-size: 3.5vw;
  margin: 60px auto 0 20px;
  font-family: 'Sacramento', cursive;
  padding: 20px;
}

h2 {
  color: #293133;
  font-family: 'Assistant', sans-serif;
  font-size: 3.3vw;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 2.5% 0 5.3% 40%;
}

h3 {
  color: #293133;
  font-family: 'Assistant', sans-serif;
  font-size: 3.3vw;
}

h4 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}

p {
  font-size: 1.5vw;
  margin-bottom: 5%;
  text-align: center;
}

hr {
  border: dotted #293133 6px;
  border-bottom: none;
  width: 10%;
  margin: 7% auto;
}

/*

    DIV

*/
.top_div {
  /* position: absolute; */
  width: 100%;
}

.top_div .titletext {
  margin-top: 0;
  bottom: 0;
  top: 61%;
  position: absolute;
  color: #293133;
  font-family: 'Sacramento', cursive;
  padding: 0.5%;
  left: 24%;
  width: 50%;
}

.middle_div {
  height: 100%;
  width: 100%;
  /* top:0;
  left:0; */
}

.bottom_div {
  height: 80px;
  width: 100%;
}

.row {
  top: 10%;
  height: 50%;
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: left;
  padding: 50px;
}

.contact_me {
  width: 40%;
  margin: 0 auto 0;
}

/*

    EFFETTI

*/

.div_nascosto{
  display:none;
  padding:4px;
}


.wrapper {
  display: inline-block;
  width: 24.5%;
  height: 15.7%;
  vertical-align: top;
  margin: 17.5% 1.9% 2.5% 13%;
  cursor: pointer;
  position: relative;
  font-family: 'Assistant', sans-serif;
  perspective: 4000px;
}

.item {
  height: 6.25em;
  transform-style: preserve-3d;
  transition: transform .6s;
}

.item .welcome {
  display: block;
  position: absolute;
  height: 70%;
  width: 90%;
  top: 0;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 4.5%;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  transform: translateZ(50px);
  transition: all .6s;
}

.item .welcome h1 {
  margin: 0 auto 0 auto;
  vertical-align: middle;
  padding: 7px;
}

.item .information {
  display: block;
  position: absolute;
  top: 0;
  height: 70%;
  width: 90%;
  text-align: center;
  border-radius: 15px;
  padding: 4.5%;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: none;
  background: url(../images/textures/wood.jpg), -o-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -ms-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -webkit-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -webkit-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -moz-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  transform: rotateX(-90deg) translateZ(50px);
  transition: all .6s;
}

.item:hover {
  transform: translateZ(-50px) rotateX(90deg);
}

.item:hover .welcome {
  box-shadow: none;
  border-radius: 15px;
}

.item:hover .information {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/*

    BUTTON

*/
.btn {
  background: url(../images/textures/wood.jpg), -o-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -ms-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -webkit-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -webkit-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/wood.jpg), -moz-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6vw;
  text-align: center;
  color: #ffffff;
  padding: 0.45em 0.9em;
  text-decoration: none;
  margin-left: 20%;
}

.btn:hover {
  background: url(../images/textures/metalic.jpg), -o-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/metalic.jpg), linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/metalic.jpg), -ms-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/metalic.jpg), -webkit-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/metalic.jpg), -webkit-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  background: url(../images/textures/metalic.jpg), -moz-linear-gradient(left, rgba(236, 241, 244, 1) 0%, rgba(190, 202, 217, 1) 100%);
  text-decoration: none;
}

/*

   IMMAGINI

*/
.coronafiori-img {
  width: 50%;
  margin-left: 5%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.freccia-img {
  width: 15%;
}

.cercafoto-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.caricafoto-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chiesa-img {
  width: 25%;
  float: right;
  margin: 7% auto auto 4%;
}

.ricevimento-img {
  width: 25%;
  float: right;
  margin: 7% auto auto 4%;
}
